body {
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('../assets/img/pasta.jpg');
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
}

div .logo {
  margin: 0;
  padding: 0;

  color: tomato;
}

ul.links {
  margin-left: auto;

  display: flex;
  gap: 26px;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: tomato;
}

.header {
  display: flex;
  padding: 4px 26px;
  align-items: center;

  position: sticky;
  top: 0;
  
  background-color: white;
}

#content {
  width: 480px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 10px;
  padding: 16px;
  flex: 1;
  margin: 16px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 470px;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: white;
  text-align: center;
  padding: 16px 0;
}